body {
  background-color: #CFCFCF;
}

.categoria-item img {
  width: 50px;
  height: 50px;
}

.servico-card img {
  height: 120px;
  object-fit: cover;
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-top: 1px solid #ccc;
}

.carousel-item img {
  width: 50%;
  height: 300px;
  /* ajuste como quiser */
  object-fit: cover;
  /* cobre o espaço mantendo proporção */
}

footer{
  position: fixed;
  margin-bottom: 0;
}